*{
    box-sizing:border-box;
}

html, body {
    padding:3px;
}

.linkbutton{
    background-color: rgb(138, 138, 255);
    padding:5px 20px;
    border-radius:10px;
    white-space: nowrap;
}

.main{
    display:inline-block;
}
.main p{
    line-height:10px;
    margin-top:5px;
}

.refresh{
    display:inline-block;
    vertical-align: top;
}

.refresh img{
    height:15px;
}
.top{
    display:flex;
    justify-content: space-between;
}

#optionsButton:hover{
    cursor:pointer;
}